html {
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  width: 100%;
  z-index: 999;
  .container {
    background-color: transparent;
    padding: 3.3rem 3.6rem;
    max-width: 140rem;
    width: 100%;
    margin-inline: auto;
    .headerMain {
      padding-inline: 3.7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 2.4rem;
      border: 1px solid rgba(255, 255, 255, 0);
      background: rgba(255, 255, 255, 0.1);
      background-blend-mode: plus-lighter;
      box-shadow:
        3.3px -10.2px 48px -12px rgba(0, 0, 0, 0.15),
        0.55px -1.7px 12px -8px rgba(0, 0, 0, 0.15),
        -0.671px 2.074px 9.76px 0 rgba(255, 255, 255, 0.15) inset,
        -0.396px 1.224px 4.88px 0 rgba(255, 255, 255, 0.15) inset;
      backdrop-filter: blur(9.920000076293945px);

      .headerLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          background-color: transparent;
          object-fit: cover;
          aspect-ratio: 254/87.6;
        }
      }
      nav {
        margin-left: 3.2rem;
        flex-shrink: 0;
        ul {
          justify-content: center;
          top: 100%;
          left: 0;
          display: flex;
          align-items: center;
          gap: 3.1rem;

          li {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            position: relative;

            .block {
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 5rem;
            }
            a {
              cursor: pointer;
              text-decoration: none;
              color: #fff;
              font-size: 1.6rem;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: -0.032rem;
              transition: 0.5s ease all;

              &:hover {
                color: #0397d6;
              }
            }
            img {
              object-fit: cover;
              flex-shrink: 0;
              width: 2.4rem;
              aspect-ratio: 1/1;
              transition: transform 0.5s ease;
            }
            &.open img {
              transform: rotate(180deg);
            }
            ul {
              top: calc(100% + 2rem);
              display: none;
              padding: 2rem;
              gap: 1.5rem 4rem;
              min-width: fit-content;
              border-radius: 2rem;
              align-items: center;
              background-color: #fff;
              grid-template-columns: 1fr 1fr;
              position: absolute;
              left: -100;

              &.open {
                display: grid;
              }

              &::after {
                content: "";
                position: absolute;
                left: 55%;
                top: 0;
                bottom: 0;
                width: 2px;
                background-color: #ccc;
              }
              li {
                justify-content: start;
                text-wrap: nowrap;
                list-style: none;

                a {
                  color: #0397d6;
                }
              }
            }
          }
        }
      }
      .headerRight {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        padding: 3rem;
        gap: 2.8rem;
        .leftItems {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1.2rem;
          .supportButton {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 7rem;
            background: var(--Main-Color-01, #0faedd);
            width: fit-content;
            padding: 2rem;
            height: 4.4rem;
            text-decoration: none;
            color: #fff;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.032rem;
          }
        }

        .rightItems {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 2.2rem;
          .languageChanger {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            background-color: transparent;
            border-color: transparent;
            color: #fff;
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.013rem;
          }
        }
      }
    }
  }
}

.heroSection {
  video {
    position: absolute;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
  }

  .container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 2rem;

    .heroMain {
      z-index: 0;
      flex-direction: column;
      gap: 0.8rem;
      margin-top: 6.1rem;
      position: relative;

      h1 {
        color: #fff;
        letter-spacing: -0.108rem;
        font-size: 5.4rem;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
      }

      strong {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      .bannerDescription {
        max-width: 30%;

        p {
          color: #fff;
          letter-spacing: -0.032rem;
          font-size: 1.6rem;
          font-style: normal;
        }
      }
      .moreButton {
        background: #fff6;
        border: 1px solid #adadad;
        border-radius: 7rem;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        height: 4.4rem;
        margin-top: 6.1rem;
        padding: 0 2.6rem;
        font-weight: 600;
        line-height: normal;
        transition:
          background 0.3s ease-in-out,
          border-color 0.3s ease-in-out;
        display: flex;
      }
    }
  }
}

.bigIdea {
  padding: 8.1rem;
  position: relative;
  .container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 2rem;

    .bigIdeaMain {
      justify-content: space-between;
      align-items: flex-start;
      gap: 9.6rem;
      display: flex;

      .bigIdeaLeft {
        z-index: 3;
        flex-direction: column;
        gap: 5.6rem;
        width: 50%;
        padding-top: 5.6rem;
        display: flex;
        position: relative;

        .bigIdeaLeftTop .contentFirst {
          flex-direction: column;
          gap: 1.7rem;
          display: flex;

          h2 {
            color: #888;
            letter-spacing: -0.088rem;
            font-size: 4.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            strong {
              color: #000;
              letter-spacing: -0.088rem;
              font-family: Albert Sans;
              font-size: 4.4rem;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }
          p {
            color: #000;
            letter-spacing: -0.032rem;
            opacity: 0.8;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.5rem;
          }
        }

        .bigIdeaItems {
          flex-wrap: wrap;
          align-items: flex-start;
          gap: 4.7rem;
          display: flex;

          .bigIdeaItem {
            align-items: center;
            gap: 3.1rem;
            width: calc(50% - 2.35rem);
            display: flex;

            .ideaIcon {
              box-sizing: border-box;
              margin: 0;
              padding: 0;
            }
            .ideaDescription {
              flex-direction: column;
              gap: 0.6rem;
              display: flex;

              span {
                color: #000;
                letter-spacing: -0.064rem;
                font-size: 3.2rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }

              p {
                color: #000;
                letter-spacing: -0.032rem;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: 2.5rem;
              }
            }
          }
        }

        .discoverButton {
          align-items: center;
          gap: 2rem;
          width: fit-content;
          display: flex;
          text-decoration: none;
          &:hover img {
            transform: translateX(5px);
          }
          span {
            color: #0397d6;
            letter-spacing: -0.032rem;
            font-family: Albert Sans;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          img {
            flex-shrink: 0;
            transition: transform 0.3s ease-in-out;
            scale: 0.8;
          }
        }
      }

      .bigIdeaRight {
        width: 50%;
        .bigIdeaGif {
          height: 58.5rem;
          video {
            object-fit: cover;
            width: 100%;
            height: 100%;
            scale: 0.7;
          }
        }
      }
    }
  }
}

.ourProjects {
  background: #e7e8de66;
  padding: 9.6rem 0;
  position: relative;

  .container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 2rem;

    .ourProjectsMain {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 4.3rem;
      display: flex;

      .ourProjectsTitle {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.1rem;
        display: flex;
        h2 {
          color: #000;
          letter-spacing: -0.088rem;
          font-family: Albert Sans;
          font-size: 4.4rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          span {
            color: #888;
            font-weight: 500;
          }
        }

        p {
          color: #000;
          text-align: center;
          letter-spacing: -0.032rem;
          max-width: 70%;
          font-family: Albert Sans;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2.5rem;
        }
      }

      .ourProjectsCards {
        flex-wrap: wrap;
        gap: 1.9rem;
        width: 100%;
        display: flex;

        .ourProjectsCard {
          width: calc(33.3333% - 1.26667rem);
          height: 28.4rem;
          position: relative;
          perspective: 100rem;

          &:hover .ourProjectCardInner {
            transform: rotateY(180deg);
          }

          .ourProjectCardInner {
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transform-origin: 50%;
            border-radius: 3rem;
            transition: transform 0.6s ease-in-out;
            position: relative;

            .cardFront {
              backface-visibility: hidden;
              border-radius: 3rem;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 2.1rem;
              width: 100%;
              height: 100%;
              padding: 4.8rem 4.8rem 3.5rem;
              display: flex;
              position: absolute;
              top: 0;
              left: 0;

              .icon {
                position: absolute;
                top: 4.8rem;
                left: 5.1rem;
              }

              h3 {
                color: #000;
                letter-spacing: -0.048rem;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                max-width: 90%;
                height: 9.2rem;
                margin-top: 7.5rem;
                font-family: Albert Sans;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 700;
                line-height: 2.9rem;
                display: -webkit-box;
                overflow: hidden;
              }

              span {
                color: #000;
                letter-spacing: -0.028rem;
                opacity: 0.5;
                text-underline-offset: 0.6rem;
                margin-top: auto;
                font-family: Albert Sans;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-decoration: underline;
              }
            }

            .cardBack {
              backface-visibility: hidden;
              transform: rotateY(180deg);
              border-radius: 3rem;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              gap: 1.6rem;
              position: absolute;
              top: 0;
              left: 0;
              overflow: hidden;

              img {
                border-radius: 3rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
              }

              h3 {
                color: #fff;
                letter-spacing: -0.048rem;
                text-align: center;
                font-family: Albert Sans;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 700;
                line-height: 2.9rem;
                position: relative;
                z-index: 1;
                padding: 0 2rem;
              }

              a {
                color: #fff;
                font-family: Albert Sans;
                font-size: 1.4rem;
                font-weight: 500;
                letter-spacing: -0.028rem;
                text-decoration: underline;
                text-underline-offset: 0.6rem;
                position: relative;
                z-index: 1;
              }
            }
          }
          &:nth-child(odd) .ourProjectCardInner {
            background: #e7e8de;
          }

          &:nth-child(even) .ourProjectCardInner {
            background: #cce8f1;
          }

          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 4rem;
            height: 3.9rem;
            z-index: 2;
          }

          &::before {
            bottom: -0.5rem;
            left: -0.5rem;
            border-bottom: 10px solid;
            border-left: 9.3px solid;
            border-radius: 0 0 0 50%;
          }

          &::after {
            top: -0.5rem;
            right: -0.5rem;
            border-top: 10px solid;
            border-right: 9.3px solid;
            border-radius: 0 50% 0;
          }

          &:nth-child(odd) {
            &::before,
            &::after {
              border-color: #7bc47f;
            }
          }

          &:nth-child(even) {
            &::before,
            &::after {
              border-color: #0397d6;
            }
          }
        }
      }
      .discoverButton {
        align-items: center;
        gap: 2rem;
        width: fit-content;
        display: flex;
        text-decoration: none;
        &:hover img {
          transform: translateX(5px);
        }
        span {
          color: #0397d6;
          letter-spacing: -0.032rem;
          font-family: Albert Sans;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        img {
          flex-shrink: 0;
          transition: transform 0.3s ease-in-out;
          scale: 0.8;
        }
      }
    }
  }
}

.blogsSection {
  display: block;

  .container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 2rem;

    .blogsMain {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3.5rem;
      padding: 10.4rem 0;
      display: flex;

      .blogsTitle h2 {
        letter-spacing: -0.088rem;
        font-size: 4.4rem;
        font-style: normal;
        line-height: normal;

        span {
          color: #88888887;
          text-align: center;
          font-weight: 500;
        }
      }

      .blogCards {
        flex-wrap: wrap;
        gap: 2rem;
        display: flex;

        .blogCard {
          flex-direction: column;
          gap: 2rem;
          width: calc(33.3333% - 1.33333rem);
          display: flex;

          .cardImage {
            border-radius: 5rem;
            height: 36.6rem;
            position: relative;
            overflow: hidden;

            img {
              object-fit: cover;
              filter: brightness(0.8);
              border-radius: 5rem;
              width: 100%;
              height: 100%;
              transition: all 0.3s;
            }

            .blogCardTop {
              justify-content: center;
              align-items: center;
              gap: 0.7rem;
              display: flex;
              position: absolute;
              top: 2.3rem;
              left: 2.1rem;
              .blogCardDate {
                color: #fff;
                letter-spacing: -0.032rem;
                -webkit-backdrop-filter: blur(2px);
                backdrop-filter: blur(2px);
                background: #ffffff59;
                border-radius: 4.2rem;
                align-items: center;
                gap: 1.5rem;
                height: 4rem;
                padding: 0 1.6rem;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                display: flex;
                img {
                  flex-shrink: 0;
                  width: 1.9rem;
                  height: 1.9rem;
                }
              }
            }
            .hoverItem {
              z-index: 1;
              background: #0397d6;
              border-radius: 50%;
              flex-shrink: 0;
              justify-content: center;
              align-items: center;
              width: 44rem;
              height: 55.6rem;
              transition: transform 0.5s;
              display: flex;
              position: absolute;
              top: -9.5rem;
              right: -8rem;
              transform: translate(100%);

              .hoverDiv {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.86rem;
                width: 100%;
                height: 70%;
                display: flex;
                position: relative;
                top: 0;
                left: -4rem;
                overflow: hidden;

                .discoverMoreButton {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 2rem;
                  color: #fff;
                  font-size: 1.9513rem;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  letter-spacing: -0.039rem;
                  text-decoration: none;
                  bottom: 3.73rem;
                  position: absolute;

                  &:hover img {
                    transform: translateX(5px);
                  }

                  span {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.9513rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: -0.039rem;
                  }

                  img {
                    width: 24px;
                    height: 24px;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                  }
                }

                p {
                  position: absolute;
                  top: 9rem;
                  color: #fff;
                  letter-spacing: -0.028rem;
                  text-overflow: ellipsis;
                  -webkit-line-clamp: 10;
                  line-clamp: 10;
                  -webkit-box-orient: vertical;
                  max-width: 24rem;
                  font-size: 1.4rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 2rem;
                  display: -webkit-box;
                  overflow: hidden;
                }

                span {
                  color: #fff;
                  letter-spacing: -0.039rem;
                  justify-content: center;
                  align-items: center;
                  gap: 1.86rem;
                  font-size: 1.9513rem;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  display: flex;
                }
              }
            }
            &:hover .hoverItem {
              transform: translate(0);
            }
          }

          h3 {
            color: #000;
            letter-spacing: -0.048rem;
            line-clamp: 3;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            transition: all 0.3s;
            display: -webkit-box;
            overflow: hidden;
          }
        }
      }
      .seeMoreButton {
        align-items: center;
        gap: 2rem;
        width: fit-content;
        display: flex;
        transition: ease 0.5s all;
        text-decoration: none;

        &:hover img {
          transform: translateX(5px);
        }

        span {
          color: #0397d6;
          letter-spacing: -0.032rem;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        img {
          flex-shrink: 0;
          transition: transform 0.3s ease-in-out;
          scale: 0.8;
        }
      }
    }
  }
}

.mapSection {
}
