html {
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  width: 100%;
  z-index: 999;
  .container {
    background-color: transparent;
    padding: 3.3rem 3.6rem;
    max-width: 140rem;
    width: 100%;
    margin-inline: auto;
    .headerMain {
      padding-inline: 3.7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 2.4rem;
      border: 1px solid rgba(255, 255, 255, 0);
      background: rgba(255, 255, 255, 0.1);
      background-blend-mode: plus-lighter;
      box-shadow:
        3.3px -10.2px 48px -12px rgba(0, 0, 0, 0.15),
        0.55px -1.7px 12px -8px rgba(0, 0, 0, 0.15),
        -0.671px 2.074px 9.76px 0 rgba(255, 255, 255, 0.15) inset,
        -0.396px 1.224px 4.88px 0 rgba(255, 255, 255, 0.15) inset;
      backdrop-filter: blur(9.920000076293945px);

      .headerLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          background-color: transparent;
          object-fit: cover;
          aspect-ratio: 254/87.6;
        }
      }
      nav {
        margin-left: 3.2rem;
        flex-shrink: 0;
        ul {
          justify-content: center;
          top: 100%;
          left: 0;
          display: flex;
          align-items: center;
          gap: 3.1rem;

          li {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            position: relative;
            a {
              cursor: pointer;
              text-decoration: none;
              color: #fff;
              font-size: 1.6rem;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: -0.032rem;
            }
            img {
              object-fit: cover;
              flex-shrink: 0;
              width: 2.4rem;
              aspect-ratio: 1/1;
              transition: transform 0.5s ease;
            }
            &.open img {
              transform: rotate(180deg);
            }
            ul {
              display: none;
              padding: 2rem;
              gap: 1.5rem 4rem;
              min-width: fit-content;
              border-radius: 2rem;
              align-items: center;
              background-color: #fff;
              grid-template-columns: 1fr 1fr;
              position: absolute;
              top: 100%;
              left: 0;

              &.open {
                display: grid;
              }

              &::after {
                content: "";
                position: absolute;
                left: 55%;
                top: 0;
                bottom: 0;
                width: 2px;
                background-color: #ccc;
              }
              li {
                justify-content: start;
                text-wrap: nowrap;
                list-style: none;

                a {
                  color: #0397d6;
                }
              }
            }
          }
        }
      }
      .headerRight {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        padding: 3rem;
        gap: 2.8rem;
        .leftItems {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1.2rem;
          .supportButton {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 7rem;
            background: var(--Main-Color-01, #0faedd);
            width: fit-content;
            padding: 2rem;
            height: 4.4rem;
            text-decoration: none;
            color: #fff;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.032rem;
          }
        }

        .rightItems {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 2.2rem;
          .languageChanger {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            background-color: transparent;
            border-color: transparent;
            color: #fff;
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.013rem;
          }
        }
      }
    }
  }
}

.heroSection {
  video {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
  }
}

.bigIdea {
  padding: 8.1rem;
  position: relative;
  .container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 2rem;

    .bigIdeaMain {
      justify-content: space-between;
      align-items: flex-start;
      gap: 9.6rem;
      display: flex;

      .bigIdeaLeft {
        z-index: 3;
        flex-direction: column;
        gap: 5.6rem;
        width: 50%;
        padding-top: 5.6rem;
        display: flex;
        position: relative;

        .bigIdeaLeftTop .contentFirst {
          flex-direction: column;
          gap: 1.7rem;
          display: flex;

          h2 {
            color: #888;
            letter-spacing: -0.088rem;
            font-size: 4.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            strong {
              color: #000;
              letter-spacing: -0.088rem;
              font-family: Albert Sans;
              font-size: 4.4rem;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }
          p {
            color: #000;
            letter-spacing: -0.032rem;
            opacity: 0.8;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.5rem;
          }
        }

        .bigIdeaItems {
          flex-wrap: wrap;
          align-items: flex-start;
          gap: 4.7rem;
          display: flex;

          .bigIdeaItem {
            align-items: center;
            gap: 3.1rem;
            width: calc(50% - 2.35rem);
            display: flex;

            .ideaIcon {
              box-sizing: border-box;
              margin: 0;
              padding: 0;
            }
            .ideaDescription {
              flex-direction: column;
              gap: 0.6rem;
              display: flex;

              span {
                color: #000;
                letter-spacing: -0.064rem;
                font-size: 3.2rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }

              p {
                color: #000;
                letter-spacing: -0.032rem;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: 2.5rem;
              }
            }
          }
        }
      }

      .bigIdeaRight {
        width: 50%;
        .bigIdeaGif {
          height: 58.5rem;
          video {
            object-fit: cover;
            width: 100%;
            height: 100%;
            scale: 0.7;
          }
        }
      }
    }
  }
}
